.accomplishments-content{
    position: fixed;
    top:50%;
    left:50%;
    background-color: white;
    color: black;
    transform: translate(-50%, -50%);
    width: max(300px,50vw);
    padding: 20px;
    z-index: 10;
}
.accomplishments-content textarea{
    padding: 20px;
}