.footer{
   
    background-color: #808080;
    
}
.footer .top{
    margin-top: 5vh;
    padding: 30px 10px;
    background-color: #808080;
    position: relative;  
    width: 100%;
    display: flex;
    height: 25vh;
    justify-content: space-around;
}
footer a{
    color: white;
}
.c1, .c2, .c3{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer hr{
border-color: antiquewhite;
}

.footer .bottom{
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 25px;
    padding: 10px;
}